alembic==0.8.10
autoenv==1.0.0
cffi==1.9.1
click==6.7
conda==4.3.8
cryptography==1.7.1
cycler==0.10.0
Flask==0.12
Flask-Migrate==2.0.2
Flask-Script==2.0.5
Flask-SQLAlchemy==2.1
Flask-WTF==0.14.2
gunicorn==19.6.0
idna==2.2
itsdangerous==0.24
Jinja2==2.9.4
Mako==1.0.6
MarkupSafe==0.23
matplotlib==1.5.3
numpy==1.11.3
psycopg2==2.6.2
pyasn1==0.1.9
pycosat==0.6.1
pycparser==2.17
pycrypto==2.6.1
pyOpenSSL==16.2.0
pyparsing==2.1.4
PyQt5==5.7.1
python-dateutil==2.6.0
python-editor==1.0.3
pytz==2016.10
requests==2.12.4
ruamel-yaml===-VERSION
scipy==0.18.1
sip==4.19
six==1.10.0
SQLAlchemy==1.1.5
virtualenv==15.1.0
Werkzeug==0.11.15
whitenoise==2.0.6
WTForms==2.1
